*{
    margin: 0;
    padding: 0;
}

#map{
    width: 100vw;
    height: 100vh;
    outline: none;
}

.mapboxgl-popup-content{
    border-radius: 25px;
    padding: 15px;
}

.mapboxgl-popup-content a{
    text-decoration: none;
    color: black;
    outline: none;
    display: flex;
    margin-bottom: 10px;
}

.mapboxgl-popup-content a::before{
    content: url("../images/linkicon.png");
    padding-right: 10px;
    padding-top: 5px;
}

.mapboxgl-popup-content a:hover{
    text-decoration: underline;
    color: #006eff;
    outline: none;
    filter: invert(43%) sepia(99%) saturate(5708%) hue-rotate(207deg) brightness(102%) contrast(107%);
}
